
.container {
  display: flex;
  flex-direction: column;
  color: var(--blue);
  margin-bottom: 2rem;
  width: 100%;

  label {
    margin-bottom: 5px;
    padding-left: 10px;
    font-size: 0.8rem;
  }

  .input {
    border-radius: 5px;
    border: none;
    background: var(--green-transparent);
    padding-left: 10px;
    height: 2.5rem;
    width: 100%;
    color: var(--blue);
    font-size: 1.1rem;

    &::placeholder {
      color: var(--blue);
    }

    &:disabled {
      background-color: var(--disabled-green);
    }
  }

  .error {
    font-size: 0.8rem;
    margin-top: 0.25rem;
    color: var(--red);
    padding-left: 10px;
  }
}