:root {
  --blue: #0285FC;
  --darken-blue: #0061bd;
  --green: #00DA91;
  --green-500: #00a76f;
  --disabled-green: #99beb2;
  --green-transparent: rgba(0, 218, 145, 0.5);
  --red: rgb(255, 87, 87);
} 

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

button {
  cursor: pointer;
}